@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: #d3e7ee !important;
}


label {
  font-size: 0.8rem;
}

input.form-control,
input.form-control:focus {
  background: #fff;
}

.error {
  position: absolute;
  color: red;
  font-size: 0.7rem;
}
